.nav-tabs {
    border-bottom: 1px solid #3dc0c0; /* Color del borde inferior del contenedor de pestañas */
  }
  
  .nav-tabs .nav-link {
    border: 1px solid transparent; 
    border-bottom: none; /* Elimina el borde inferior */
    color: #495057;
  }
  
  .nav-tabs .nav-link:hover {
    border-color: #f0b9eb; /* Cambia el color del borde al pasar el ratón */
  }
  
  .nav-tabs .nav-link.active {
    border-color: #3dc0c0; /* Borde rojo en la pestaña activa */
    color: #035d6c; /* Texto rojo en la pestaña activa */
    background-color: #fff;
    font-weight: bold;
  }

  .table {
    margin: 1rem;
    border: 1px solid #3dc0c0;
    border-radius: 10px;
 /* Bordes redondeados */
  overflow: hidden; /* Cambia el color del borde de la tabla */
  }
  
  .table th,
  .table td {
    border: 1px solid #3dc0c0; /* Cambia el color del borde de las celdas */
  } 