/* CustomDropdown.css */

/* Estilo general para los botones del Dropdown */
.custom-button,
.custom-toggle {
    background-color: #3dc0c0 !important; /* Color de fondo del botón */
    border: none !important; /* Sin borde */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Cambios de color en hover */
.custom-toggle:hover, 
.custom-button:hover {
    background-color: #035d6c !important;
}

/* Estilos específicos para los Dropdowns en el sidebar */
.custom-dropdown.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.custom-dropdown.sidebar .custom-toggle,
.custom-dropdown.header .custom-toggle,
.custom-dropdown.sidebar .custom-button,
.custom-dropdown.header .custom-button {
    width: 100%;
}

.custom-dropdown.header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: white !important;
    padding: 5px;
}

/* Estilos para el estado de enfoque y activo */
.custom-button:focus,
.custom-button:active,
.custom-toggle:focus,
.custom-toggle:active {
    background-color: transparent !important; /* Color de fondo del botón al hacer clic o enfocar */
    color: inherit !important; /* Mantener el color del texto */
    outline: none !important; /* Quitar el borde de enfoque */
    box-shadow: none !important; /* Quitar la sombra del borde */
}

/* Estilo para los ítems del Dropdown */
.custom-dropdown .dropdown-item {
    transition: background-color 0.3s ease !important; /* Agrega una transición suave para los ítems del dropdown */
    background-color: #ffffff !important; /* Color de fondo de los ítems del dropdown */
    white-space: normal; /* Permitir que el texto se rompa en varias líneas */
    word-wrap: break-word; /* Romper palabras largas si es necesario */
    overflow-wrap: break-word; /* Romper palabras largas si es necesario */
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Elimina el color de fondo azul en el enfoque y el estado activo para ítems del dropdown */
.custom-dropdown .dropdown-item:focus,
.custom-dropdown .dropdown-item:active {
    background-color: #ffffff !important; /* Elimina el color de fondo azul */
    color: inherit !important; /* Mantener el color del texto */
    outline: none !important; /* Quitar el borde de enfoque */
    box-shadow: none !important; /* Quitar la sombra del borde */
}

/* Asegúrate de que el color azul no sea aplicado por otros estilos */
.custom-dropdown .dropdown-item.active,
.custom-dropdown .dropdown-item:focus {
    background-color: #ffffff !important; /* Elimina el color de fondo azul */
}

/* Enfoque para el botón y el menú desplegable sin color de fondo azul */
.custom-dropdown .dropdown-menu {
    background-color: #ffffff !important;
    width: 100%;
    border: 1px solid #035d6c;
}

.custom-dropdown .dropdown-menu .dropdown-item,
.custom-dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #ffffff !important; /* Fondo blanco para los ítems del menú desplegable */
    color: #035d6c;
}

.custom-dropdown .dropdown-menu .dropdown-item:hover,
.custom-dropdown .dropdown-menu .dropdown-item:focus {
    background-color: #f0f0f0 !important; /* Fondo gris claro en hover y focus para los ítems del menú desplegable */
}

/* Ajuste del margen superior para los botones cuando el dropdown está abierto */
.custom-dropdown .dropdown-open {
    position: relative;
}

.custom-dropdown .dropdown-open .dropdown-toggle {
    margin-bottom: 10rem; /* Ajusta el margen entre el dropdown y el siguiente botón */
}

.custom-dropdown .dropdown-open .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000; /* Asegura que el menú desplegable esté por encima de otros elementos */
    margin-top: 0.5rem; /* Ajusta el margen superior cuando el dropdown está abierto */
}
