.data-Charts{
    display: grid !important;
    grid-template-columns: 1fr 4fr;
    justify-content: space-between;
    gap: 1rem;
} 
.table-Charts{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
}

@media (max-width: 600px){
   .data-Charts{
    grid-template-columns: 1fr;
   } 
}